<div class="row" ng-controller="UpdateUserCtrl">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="edit-user-avatar">
        <% if current_user.uid %>
          <span>
            <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture" %>
          </span>
          <span class="facebook-avatar-explanation">
            Using your Facebook profile image
          </span>
        <% else %>
          
        <% end %>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div><%= f.label :first_name %>
            <%= f.text_field :first_name, :autofocus => true, :class => "form-control" %></div>
            <%= errors_for resource, :first_name %>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <div><%= f.label :last_name %>
            <%= f.text_field :last_name, :class => "form-control" %></div>
            <%= errors_for resource, :last_name %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div><%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>
        <%= errors_for resource, :last_name %>
      </div>

      <div class="form-group">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>

      <p class="change-password-text" ng-click="showPassword=!showPassword">
        Change password
      </p>

      <div ng-show="showPassword">
        <div class="form-group">
          <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %></div>
          <%= errors_for resource, :last_name %>
        </div>

        <div class="form-group">
          <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => "form-control" %></div>
          <%= errors_for resource, :last_name %>
        </div>
      </div>

      <div><%= f.submit "Update", :class => "btn btn-success" %></div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>

    <%= link_to "Back", :back %>
  </div>
</div>