<div class="row" ng-controller="UpdateUserCtrl">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="has-card-details" data-has-card="<%= has_credit_card? %>"></div>

      <div class="edit-user-avatar">
        <%= render "edit_avatar", :f => f %>
      </div>

      <div class="devise-form-holder">
        <%= render "name_fields", :f => f %>

        <div class="form-group">
          <div><%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>
          <%= errors_for resource, :last_name %>
        </div>

        <div class="form-group">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>

        <div class="toggle-section-text-holder">
          <span class="toggle-section-text" ng-click="showPassword=!showPassword">
            Change password
          </span>
        </div>

        <div ng-show="showPassword">
          <div class="form-group">
            <div><%= f.label :password %>
            <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %></div>
            <%= errors_for resource, :last_name %>
          </div>

          <div class="form-group">
            <div><%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "form-control" %></div>
            <%= errors_for resource, :last_name %>
          </div>
        </div>

        <div><%= f.submit "Update", :class => "submit-button" %></div>
      </div>

      

    <% end %>
    
    <div class="toggle-section-text-holder">
      <span class="toggle-section-text" ng-click="showCreditCard=!showCreditCard">
        Credit card
      </span>
    </div>

    <div ng-show="showCreditCard">
      <div class="devise-form-holder">
        <% if has_credit_card? %>
          <br>
          <%= render "users/existing_credit_cards", :cards => current_user.credit_cards, :show_card_description => false %>
          <%= link_to "Delete card", delete_credit_card_path, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger btn-xs delete-credit-card-button" %>
        <% else %>
          <%= render "users/credit_card_form", :show_card_description => true %>
          <div class="btn btn-success btn-xs" ng-click="makeDonation()">
            Add card
          </div>
        <% end %>
      </div>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="toggle-section-text-holder">
        <span class="toggle-section-text" ng-click="showCancelAccount=!showCancelAccount">
          Cancel account
        </span>
      </div>

      <div ng-show="showCancelAccount">
        <p>Unhappy? :( <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>
      </div>
    <% end %>
  </div>
</div>