<!DOCTYPE html>
<html ng-app="raisechange">
<head>
  <title>RaiseChange</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= render "layouts/stripe_javascript" %>
  <%= render "layouts/google_analytics" if Rails.env.production? %>
  <meta name="google-site-verification" content="4W06qW6z6ZADdxJU_-o6SqQKAvO7YSHtUm66W_cV7ew" />
</head>
<body>
  <%= render "layouts/facebook" %>
  <%= render "layouts/top_nav" %>
  <%= render "layouts/alerts" %>
  <% unless params[:action] == 'landing' && params[:controller] == 'pages' %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="main-content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  <%= render "layouts/footer" %>
</body>
</html>
