<!DOCTYPE html>
<html ng-app="raisechange">
<head>
  <title>RaiseChange</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render "layouts/facebook" %>
  <%= render "layouts/top_nav" %>
  <%= render "layouts/alerts" %>
  
  <div class="<%= 'main-content' unless params[:action] == 'landing' && params[:controller] == 'pages' %>">
    <%= yield %>
  </div>
</body>
</html>
